.fadebg{
    
    display: flex;
    flex-flow: row;
    width: 100vw;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1000;
    transition: background 0.2s linear;
    box-shadow: 0px 2px 10px;
}



.NavLinks{
    
    font-family: Rubik;
    z-index: 0;
    font-size: 1.5rem;

    
}



.Frame{
    
    z-index: 0;
    justify-content: flex-end;
    display: flex;
    margin: 0 20px 0 10px;
    width: 100%;
    
}


#menu{  
    
    z-index: 20000;
    position: fixed;
    left: 80vw;
    top: 25px;
    width: 70px;
   
}


#logo{
   
    background-size: 210px;
    width: 230px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("../src/assets/images/logow.png");
    
}

@media only screen and (max-width:576px) {

    .NavLinks{
        z-index: 0;
        font-size: 1.5rem;
        text-align: center;
    }
}